@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 15px;
  font-size: 20px;
  background-color: rgb(113, 111, 114);
  color:rgb(255, 255, 255);
}

#img001{
  display: block;
  margin: 0 auto;
  width: 100%;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:100%;
  gap:5%;
  
}
main{
  align-items: center;
  width:79%
}
aside{
  width:15%;
  line-height: 2.0;
}

.attention {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 23px
}

.section {
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}

.index{
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

#html-css-deco-example{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(47, 136, 163);
  color: rgb(0,255,0);
  display: flex;
  justify-content: center;
}

.section3{
  border: 5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}